table.progress
  font-size: xx-small
  inline-size: 50%
  margin-inline: auto

  th, td
    inline-size: fit-content
    padding-inline: .125rem
    padding-block: 0

table.dictionary
  font-size: small

  a[href^='http']
    font-size: xx-small
